<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="dira" path="*.fsp" verb="*" modules="CgiModule" scriptProcessor="C:\AppCode\DiraAPP\qiyuwxserver.exe" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
